.global {
    --element-color: #345b8f;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: #fff;
    --background: rgb(245, 245, 245);
    --background-element: #0000005e;
    --background-transparent: #0000005e;
    --shadow: #0000008f;
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}

.light {
    --color: #fff;
    --background: rgb(245, 245, 245);
    --background-element: #0000005e;
    --background-transparent: #0000005e;
    --shadow: #0000008f;
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}